---
import Layout from "./Layout.astro";
import Greeter from "../components/Greeter.astro"
import Profile from "../components/Profile.astro"
---

<Layout title="Aki's shell">
 <div class="flex flex-col gap-3 font-mono p-2">	
		<Greeter />
		<div class="pl-4 pr-4">
			<Profile />
		</div>
		<div class="pl-4 text-sm sm:text-lg">
			=== TODO === 
			<p>[ ] Add projects section</p>
			<p>[ ] Add interactivity</p>
			<p>...?</p>
		</div>
 </div>
</Layout>
