---
import './src/styles/global.css'

const { title } = Astro.props;
--- 

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/icon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Programmer, Student, Alive"/>

		<meta property="og:title" content={title || "Aki's website"} />
		<meta property="og:description" content="Programmer, Student, Alive" />
		<meta property="og:image" content="/icon.ico" />
		
		<title>{title || "Aki's website"}</title>
	</head>
	<body>
		<slot />
	</body>
</html>